<br>
<br>
<div class="container-fluid bg-black">
  <div class="row py-5 px-4 text-white">
    <div class="col-md-5 ">
      <h1>LOUDER BUDS</h1>
      <p>Louders buds is the best source for the latest tech news, launches,reviews, Gadgets unboxing & comparison.</p>
      <p class="text-primary">Conduct@loudersbuds.com</p>
      <p><span>About us</span><span>Conduct us</span><span>Privacy Policy</span></p>
    </div>
    <div class="col-md-3 ">
      <h1>Quick Link</h1>
      <p>News</p>
      <p>Reviews</p>
      <p>How to & Guides</p>
      <p>Best buy</p>
    </div>
    <div class="col-md-3">
      <h1>Address</h1>
      <p>No.82/85, Sthithi Square Complex, Pankaja Mills Rd, opp. New Indian Express, Krishnaswamy Nagar, Sowripalayam Pirivu, Ramanathapuram, Coimbatore, Tamil Nadu 641045</p>
    </div>
  </div>
</div>